*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  line-height: inherit;
  background-color: #121212;
}

table {
  margin: 0;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

canvas {
  display: block;
  vertical-align: middle;
}
